.jumbotron {
    position: relative;
    width: 100vw;
    height: 30vw;
    overflow: hidden;
  }
  .jumbotron .container {
    position: relative;
    z-index: 2;
    color: #ffffff;
  }
  .jumbotron:after {
    content:"";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:url("https://images.unsplash.com/photo-1461503312594-019be44dd599?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    width: 100%;
  }